.itemObject {
	margin: 10px;
	outline: 1px solid #000;
	width: 75%;
}
.previousRss {
	float: right;
	li {
		list-style-type: none;
	}
}

#feedData {
	width: 50%;
	float: left;
}
.podcastPlay {
  display: none;
}
.itemObject:hover{
  cursor: pointer;
}
.podcastPlay {
	width: 65%;
	margin: auto;
}
.savedGroups {
	span {
		font-weight: bold;
		font-size: 110%;
	}
	.linkLabel {
		margin-right: 15px;
		font-weight: normal;
	}

}








